*{
	margin: 0;
	padding: 0;
	font-family: Calibri;
}
header{
	background-image:url(heartp.jpg); 
	height: 100vh;
	background-size: cover;
	background-position: center;

}
.obj
{

	width:400px;
	height:350px;
	background-color:black;
	color:white;
	background:rgba(0,0,0,0.8);
	position: absolute;
	transform: translate(-50%,-50%);
	left:17%;
	top:48%;
	padding:70px 30px;
	box-sizing: border-box;
	border-radius: 10px;
}
.vis
{

	width:400px;
	height:350px;
	background-color:black;
	color:white;
	background:rgba(0,0,0,0.8);
	position: absolute;
	transform: translate(-50%,-50%);
	left:48%;
	top:48%;
	padding:70px 30px;
	box-sizing: border-box;
	border-radius: 10px;
}
.join
{

	width:400px;
	height:350px;
	background-color:black;
	color:white;
	background:rgba(0,0,0,0.8);
	position: absolute;
	transform: translate(-50%,-50%);
	left:80%;
	top:48%;
	padding:70px 30px;
	box-sizing: border-box;
	border-radius: 10px;
}

.main ul{
	float: left;
	list-style-type:none;
	margin-top: 25px;
	}

.main ul li{display: inline-block;

}
.main ul li a{
	text-decoration: none;
	color:black;
	padding: 7px 35px;
	border-color: black;
	transition: 0.5s ease;
}
.main ul li a:hover{
	background-color: #000;
	color: #fff;
}
.main ul li.active a
{
	background-color: #000;
	color: #fff;
}
.joinus
{
	width:50px;
	height:50px;
	left:130px;
	top:60px;
	position: absolute;
	border-radius: 50%;

}
.ourvision
{
	width:50px;
	height:50px;
	left:180px;
	top:60px;
	position: absolute;
	border-radius: 50%;

}
.med
{
	width:50px;
	height:50px;
	left:240px;
	top:60px;
	position: absolute;
	border-radius: 50%;

}
.footer{
			position: fixed;
			height: 7%;
			left:0;
			bottom: 0;
			width: 100%;
			background-color: pink;
			color:black;
			padding-left:20px;
			padding-top:20px;
		}
		
.footer p{
	text-align:right;
	bottom:30%;
	right:5%;
	position:relative;

}