body{
	margin: 0;
	padding: 0;
	background-image:url(image1.jpg); 
	background-attachment: fixed;
	background-size:cover;
	background-position:center;
	height:100vh;
	font-family:Calibri;
	text-align: center;
}
.simpleform
{
	width:400px;
	height:500px;
	background-color:transparent;
	color:black;
	position: absolute;
	transform: translate(-50%,-50%);
	left:60%;
	top:30%;
	text-align: left;
	padding:70px 30px;
	box-sizing: border-box;
	font-size: 20px;
}
.form
{
	width:400px;
	height:500px;
	background-color:transparent;
	color:black;
	position: absolute;
	transform: translate(-50%,-50%);
	left:60%;
	top:60%;
	text-align: left;
	padding:70px 30px;
	box-sizing: border-box;
	font-size: 20px;
}
.simpleform input[type="submit"]
{
	border: none;
	outline:none;
	height:40px;
	background-color: black;
	color:white;
	font-size: 15px;
	border-radius: 10px;
	transition: 0.4s ease;


}

.simpleform input[type="submit"]:hover{
	cursor: pointer;
	background-color:#3C6989;
	color:white;
	
}

.simpleform input[type="reset"]
{
	border: none;
	outline:none;
	height:40px;
	width: 80px;
	background-color: black;
	color:white;
	font-size: 15px;
	border-radius: 10px;
	transition: 0.4s ease;

}

.simpleform input[type="reset"]:hover{
	cursor: pointer;
	background-color:#3C6989;
	color:white;
}

