*{
	margin: 0;
	padding: 0;
	font-family: Calibri;
}
header{
	background-image:url(background1.jpg); 
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.users
{
	width:730px;
	height:300px;
	background-color:transparent;
	color:black;
	position: absolute;
	transform: translate(-50%,-50%);
	left:70%;
	top:30%;
	padding:70px 30px;
	box-sizing: border-box;
	border-radius: 10px;
}
.med
{
	width:500px;
	height:300px;
	left:5%;
	top:30%;
	position: absolute;
	border-radius: 20%;
}
.main ul{
	float: left;
	list-style-type:none;
	margin-top: 25px;

}
.main ul li{
	display: inline-block;

}
.main ul li a{
	text-decoration: none;
	color:black;
	padding: 5px 35px;
	border-color: black;
	transition: 0.5s ease;
}
.main ul li a:hover{
	background-color: #000;
	color: #fff;
}
.main ul li.active a
{
	background-color: #000;
	color: #fff;
}

.footer{
			position: fixed;
			height: 7%;
			left:0;
			bottom: 0;
			width: 100%;
			background-color: pink;
			color:black;
			padding-left:20px;
			padding-top:20px;
		}
.footer p{
	text-align:right;
	bottom:30%;
	right:5%;
	position:relative;

}