*{
	margin: 0;
	padding: 0;
	font-family: Calibri;
}
header{
	background-image:url(heartp.jpeg); 
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.main ul{
	float: left;
	list-style-type:none;
	margin-top: 25px;

}
.main ul li{
	display: inline-block;

}
.main ul li a{
	text-decoration: none;
	color:black;
	padding: 5px 35px;
	border-color: black;
	transition: 0.5s ease;
}
.main ul li a:hover{
	background-color: #000;
	color: #fff;
}
.main ul li.active a
{
	background-color: #000;
	color: #fff;
}
.tab
{
	text-align:left;
	left:04%;
	top:15%;
	font-size:15px;
	background-color:transparent;
	position:absolute;
	color:black;
}

.footer{
			position: fixed;
			height: 7%;
			left:0;
			bottom: 0;
			width: 100%;
			background-color: pink;
			color:black;
			padding-left:20px;
			padding-top:20px;
		}
.footer p{
	text-align:right;
	bottom:30%;
	right:5%;
	position:relative;


}
input[type="submit"]
{
  border: none;
  outline:none;
  height:30px;
  width: 80px;
  background-color: pink;
  color:black;
  border: 2px solid black;
  font-size: 17px;
  border-radius: 30px;
  transition: 0.4s ease;

}

.simpleform input[type="submit"]:hover{
  cursor: pointer;
  background-color: white;
  color:black;
}